{% extends 'base.html' %}

{% block content %}

<!-- Category Table -->
<div class="card mb-4">
  <div class="card-header">
    <h3 class="card-title">Category List</h3>

    <div class="card-tools">
      <div class="btn-group mb-2" role="group" aria-label="Basic outlined example">
        <a href="/add_category">
          <button type="button" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;" class="btn btn-sm btn-outline-success">
            Add Category
          </button>
        </a>
        <a href="/sale">
          <button type="button" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;" class="btn btn-sm btn-outline-primary">
            Add Sale
          </button>
        </a>
      </div>
    </div>
  </div> <!-- /.card-header -->

  <div class="card-body">
    <table class="table myTable" id="myTable">
      <thead>
        <tr>
          <th>Category ID</th>
          <th>Name</th>
          <th>Description</th>
          <th>Products Count</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        {% for category in category %}
        <tr class="gradeX">
          <td>{{ category.CategoryID }}</td>
          <td>{{ category.name }}</td>
          <td>{{ category.description }}</td>
          <td>{{ category.products_count }}</td>

          <!-- Edit Button -->
          <td>
            <a href="/edit_category/{{ category.CategoryID }}" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"  class="btn btn-sm btn-warning" data-toggle="modal">
              Edit
            </a>
          </td>

          <!-- Delete Button -->
          <td>
            <a href="/delete_category/{{ category.CategoryID }}" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;" class="btn btn-sm btn-danger" onclick="return confirm('Are you sure you want to delete {{ category.name }}?')">
              Delete
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div> <!-- /.card-body -->
</div> <!-- /.card -->

{% endblock %}
