{% extends 'base.html' %}

{% block content %}

<!-- Customer Table -->
<div class="card mb-4">
  <div class="card-header">
    <h3 class="card-title">Customer List</h3>

    <div class="card-tools">
      <div class="btn-group mb-2" role="group" aria-label="Basic outlined example">
        <a href="/manage_customer">
          <button type="button" class="btn btn-sm btn-outline-primary"> View Customers</button>
        </a>
        <a href="/sale">
          <button type="button" class="btn btn-sm btn-outline-primary">Add Customer</button>
        </a>
      </div>
    </div>
  </div> <!-- /.card-header -->

  <div class="card-body">
    <div class="widget-content nopadding">

      <!-- Edit Customer Form -->
      <form action="{{ url_for('edit_customer', customer_id=customer.CustomerID) }}" method="POST">

        <!-- Customer Name Input -->
        <div class="row mb-3">
          <label for="name" class="col-sm-2 col-form-label">Name: </label>
          <div class="col-sm-10">
            <input type="text" name="name" class="form-control" value="{{ customer.name }}" id="name" placeholder="Enter Customer Name" required>
          </div>
        </div>

        <!-- Contact Input -->
        <div class="row mb-3">
          <label for="contact" class="col-sm-2 col-form-label">Contact: </label>
          <div class="col-sm-10">
            <input type="text" name="contact" class="form-control" value="{{ customer.contact }}" id="contact" placeholder="Enter Contact" required>
          </div>
        </div>

        <!-- Address Input -->
        <div class="row mb-3">
          <label for="address" class="col-sm-2 col-form-label">Address: </label>
          <div class="col-sm-10">
            <input type="text" name="address" class="form-control" value="{{ customer.address }}" id="address" placeholder="Enter Address" required>
          </div>
        </div>

        <!-- Loyalty Points Input -->
        <div class="row mb-3">
          <label for="loyaltypoints" class="col-sm-2 col-form-label">Loyalty Points: </label>
          <div class="col-sm-10">
            <input type="number" name="loyaltypoints" class="form-control" value="{{ customer.loyaltypoints }}" id="loyaltypoints" placeholder="Enter Loyalty Points">
          </div>
        </div>

        <!-- Submit Button -->
        <div class="form-actions">
          <button type="submit" class="btn btn-sm btn-success"  style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">Save Changes</button>
        </div>

      </form> 
    </div>
  </div>
</div> <!-- /.card-body -->
{% endblock %}
