{% extends 'base.html' %}

{% block content %}
<div class="app-content"> <!--begin::Container-->
    <div class="container-fluid"> <!-- Timeline example -->
        <div class="row">
            <div class="col-12"> <!-- The icons -->
                <div class="col-12">
                    <div class="card card-primary card-outline">
                        <div class="card-header">
                            <h3 class="card-title">Create New Poll</h3>
                            <div class="card-tools">
                                <div class="btn-group mb-2" role="group" aria-label="Basic outlined example"> <a href="/manage_polls"><button type="button" class="btn btn-outline-primary">View Polls</button></a>  </div>

                            </div>

                            
                        </div>

                        <div class="card-body">
                            <form method="POST">
                                <div class="form-group">




                                    <div class="row mb-3"> <label for="question" class="col-sm-2 col-form-label">Poll Name</label>
                                        <div class="col-sm-10"> <input type="text" name="question" class="form-control" id="question"> </div>
                                    </div>


                                </div>
                                <button type="submit" class="btn btn-primary">Create Poll</button>

                            </form>
                        </div>
                    </div>
                </div>
            </div> <!-- /.col -->
        </div> <!-- /.row -->
    </div> <!--end::Container-->
</div> <!--end::App Content-->
{% endblock %}
