{% extends 'base.html' %}

{% block content %}

<!-- Edit Product Form -->
<div class="card mb-4">
  <div class="card-header">
    <h3 class="card-title">Edit Product</h3>

    <div class="card-tools">
      <a href="/manage_product" class="btn btn-sm btn-outline-success">
        <i class="icon-plus"></i> View Products
      </a>
    </div>
  </div> <!-- /.card-header -->

  <div class="card-body">
    <div class="widget-content nopadding">
      <form action="{{ url_for('edit_product', product_id=product.ProductID) }}" method="POST" class="form-horizontal">

        <!-- Category Selection -->
        <div class="row mb-3">
          <label for="category_id" class="col-sm-2 col-form-label">Category:</label>
          <div class="col-sm-10">
            <select name="category_id" class="form-control">
              {% for category in categories %}
                <option value="{{ category.CategoryID }}" {% if category.CategoryID == product.category_id %} selected {% endif %}>
                  {{ category.CategoryID }} | {{ category.name }}
                </option>
              {% endfor %}
            </select>
          </div>
        </div>

        <!-- SKU Input -->
        <div class="row mb-3">
          <label for="serial_no" class="col-sm-2 col-form-label">SKU:</label>
          <div class="col-sm-10">
            <input type="text" value="{{ product.sku }}" name="serial_no" class="form-control" />
          </div>
        </div>

        <!-- Product Name Input -->
        <div class="row mb-3">
          <label for="name" class="col-sm-2 col-form-label">Name:</label>
          <div class="col-sm-10">
            <input type="text" required name="name" class="form-control" value="{{ product.name }}" placeholder="Enter Product Name" />
          </div>
        </div>

        <!-- Price Input -->
        <div class="row mb-3">
          <label for="price" class="col-sm-2 col-form-label">Price:</label>
          <div class="col-sm-10">
            <input type="text" required name="price" class="form-control" value="{{ product.price }}" placeholder="Enter Product Buying Price" />
          </div>
        </div>

        <!-- Product Description -->
        <div class="row mb-3">
          <label for="description" class="col-sm-2 col-form-label">Product Description:</label>
          <div class="col-sm-10">
            <textarea name="description" class="form-control" placeholder="Enter Product Description">{{ product.description }}</textarea>
          </div>
        </div>

        <!-- Quantity Input -->
        <div class="row mb-3">
          <label for="quantity" class="col-sm-2 col-form-label">Quantity:</label>
          <div class="col-sm-10">
            <input type="number" required name="quantity" class="form-control" value="{{ product.quantity if product.quantity is not none else 0 }}" placeholder="Enter Product Quantity" min="1" />
          </div>
        </div>

        <!-- Reorder Level Input -->
        <div class="row mb-3">
          <label for="reorder_level" class="col-sm-2 col-form-label">Reorder Level:</label>
          <div class="col-sm-10">
            <input type="number" required name="reorder_level" class="form-control" value="{{ product.reorder_level }}" placeholder="Enter Reorder Level" min="1" />
          </div>
        </div>

        <!-- Submit Button -->
        <div class="form-actions">
          <button type="submit" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"  class="btn btn-sm btn-success">Save Changes</button>
        </div>

      </form>
    </div>
  </div>
</div> <!-- /.card-body -->

{% endblock %}
