{% extends 'base.html' %}

{% block content %}

<!-- Product Table -->
<div class="card mb-4">
  <div class="card-header">
    <h3 class="card-title">Product List</h3>

    <div class="card-tools">
      <div class="btn-group mb-2" role="group" aria-label="Basic outlined example">
        <a href="/add_product">
          <button type="button" class="btn btn-sm btn-outline-success">
            Add Product
          </button>
        </a>
        <a href="/restock_product">
          <button type="button" class="btn btn-sm btn-outline-success">
            Restock Product
          </button>
        </a>
        <a href="/sale">
          <button type="button" class="btn btn-sm btn-outline-primary">
            Add Sale
          </button>
        </a>
      </div>
    </div>
  </div> <!-- /.card-header -->

  <div class="card-body">
    <table class="table myTable" id="myTable">
      <thead>
        <tr>
          <th>Quantity</th>
          <th>Category</th>
          <th>SKU</th>
          <th>Name</th>
          <th>Unit Price</th>
          <th>Description</th>
          <th>Re-Order</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        {% for i in products %}
        <tr class="gradeX">
          <td>{{ i.quantity }}</td>
          <td>{{ i.category_id }}</td>
          <td>{{ i.sku }}</td>
          <td>{{ i.name }}</td>
          <td>{{ i.price }}</td>
          <td>{{ i.description }}</td>
          <td>{{ i.reorder_level }}</td>

          <!-- Edit Button -->
          <td>
            <a href="/edit_product/{{ i.ProductID }}">
              <button type="button" class="btn btn-warning" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                Edit
              </button>
            </a>
          </td>

          <!-- Delete Button -->
          <td>
            <a href="/delete_product/{{ i.ProductID }}">
              <button type="button" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete {{ i.name }}?')" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                Delete
              </button>
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div> <!-- /.card-body -->
</div> <!-- /.card -->

{% endblock %}
